footer {
    /* border: 1px solid palevioletred; */
    background-color: white;
    color: #000;
    font-size: 15px;
    height:10px;
    padding: 30px 0 40px 0;
    font-weight: lighter;
}


footer a {
    color: #000;
}
footer a:hover {
    color: #5fa8fc;
}
footer address {
    font-style: normal;
    float: left;
}
footer li{
    float: right;
    
}

footer li:nth-child(2){
    padding: 0 30px;
}