h1{
    /* border: 1px solid red; */
    background-image: url("../img/logo.png");
    width:117px;
    height:45px;
}

nav ul{
    padding-top:20px;
}

nav li{
    /* border: 1px solid black; */
    display: inline-block;
    padding-left:60px;
    font-size: 12px;

}

nav{
    height:60px;
    padding-top: 30px;
    padding-bottom: 126px;
}

h1 a{
    /* border: 1px solid red; */
    display: inline-block;
    width:117px;
    height:45px;

}

header h2{
    font-size:42px;
}

header a:hover{
    
        border-bottom: 3px solid rgba(245, 245, 245, 0.459);
    
}