



#section1{
    background-color: #000;
    color:whitesmoke;
}

#section2{
    background-color:whitesmoke;
    color: rgb(63, 136, 209);

}

#section3{
    color:  rgb(82, 147, 251);
}

header p:nth-of-type(1){
    display: inline-block;
    /* border: 1px solid black; */
    font-size: 30px;
    padding-bottom: 315px;


}
header p:nth-of-type(1)>strong{
 display: inline-block;
    /* border: 1px solid black; */
    font-size: 60px;
    padding-bottom: 60px;
}
header p:nth-of-type(2){
    display: block;
    /* border: 1px solid black; */
    font-size: 30px;
    padding-bottom: 100px;
}

header strong{
    /* text-shadow: 2px 2px 20px black; */
}

#firstInner{
    position: relative;
}

#cilcle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.116), rgba(255, 255, 255, 0.034));
    background-color: ;
    position: absolute;
    top:0;
    right: 0;
}