h1 {
    /* border: 2px solid black; */
    /* background-repeat: no-repeat; */
}

h1 a {
    display: inline-block;
    /* border: 2px solid red; */
    width: 117px;
    height: 45px;
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat:no-repeat;
    /* no-reapeat? */
}

h1 a:hover {
    background-image: url("../img/logo_black.png");
}

nav {
    /* border: 3px solid black; */
    /* background-color: gray; */
    height: 60px;
    padding-top: 30px;
    margin-bottom: 120px;
}

nav ul {
    /* border: 3px solid red; */
    /* float: right; */
}

nav li {
    /* border: 2px solid black; */
    display: inline-block;
    font-size: 20px;
    margin-left: 40px;
}

#gnb {
    position: relative;
}

@media screen and (max-width:768px) {
    header li:last-child a {
        color: #5fa8fc;
        background-color: white;
        padding: 5px 20px;
        border-radius: 19px;
    }
    #mobileMenu {
        background-color: #5fa8fce5;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 200px;
        padding: 100px 30px;
        z-index: 1;
        display: none;
    }
    header li {
        display: block;
        /* border: 3px solid red; */
        margin-right: 0px;
        font-size: 12px;
        margin-bottom: 30px;
    }
    #menuClose {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 50px;
    }
    #triger {
        /* border: 3px solid red; */
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 50px;
        cursor: pointer;
    }
    #desktopMenu {
        /* border: 3px solid red; */
        margin-right: 80px;
        margin-top: 23px;
    }
    h1 {
        margin-left: 30px;
        margin-top: 10px;
    }
    #back {
        position: fixed;
        height: 100%;
        width: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
/* 이걸막고 가상으로 만들거야 
데스크탑에 만들고 display:none하고  나서
모바일매뉴에서 보이게 하기 

하지만 그러면 자바스크립트가 읽을수가 없어서 다시살리기 */
    }
    /* body::before{
        display: none;
        content: "";
        position: fixed;
        height: 100%;
        width: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
        top: 0;
        left: 0;
        z-index: 1;
    }
} */
