/* 320 모바일 버전 */
.desktop {
    display: none;
}
h1 {
    /* border: 1px solid black; */
    width: 120px;
    height: 36px;
    background: url("../images/hanwha_logo_b.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
#m_search {
    /* border: 1px solid black; */
    width: 36px;
    height: 36px;
}
#m_search {
    background: url("../images/2x/baseline_search_black_18dp.png");
    float: right;
}

nav {
    /* border: 2px solid black; */
    height: 60px;
    padding: 16px;
}
/* 425 모바일 버전 */
@media screen and (min-width: 425px) { 
    
}
/*  세로 태블릿 버전 */
@media screen and (min-width: 768px) { 
    .desktop {
        display: block;
    }
    .mobile {
       display: none !important; 
    }
    h1 {
        /* border: 1px solid yellow; */
        width: 180px;
        height: 50px;
        background: url("../images/hanwha_logo_w.png");
        background-size: contain;
        background-repeat: no-repeat;
        float: none;
        margin-right: 30px;
    }
    nav {
        background: rgba(0,0,0,0.5);
        height: 110px;
        color: white;
        padding: 0;
        transition: all 1s;
        width: 100%;
        position: relative;
        /* min-width: 1124px; */
        /* border: 5px solid red; */
    }
    nav:hover {
        background: white;
        color: black;
    }
    nav a {
        /* background: rgb(54, 54, 25); */
    }
    nav:hover h1 {
        background: url("../images/hanwha_logo_b.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    nav:hover a {
        color: black;
    }
    #gnb {
        /* border: 2px solid black; */
        width: 650px;
        display: flex;
        height: 110px;
        align-items: center;
        padding-left: 30px;
        font-weight: bold;
    }
    #gnb ul, #snb ul {
        /* border: 3px solid yellow; */
    }
    #gnb ul li, #snb ul li {
        /* border: 2px solid white; */
        list-style: none;
        display: inline-block;
        margin: 0 5px;
    }
    #menu6 {
        /* border: 2px solid white; */
        width: 30px;
        margin: 0 10px;
    }
    #search {
        border: 0.8px solid #aaa;
        border-radius: 18px;
        width: 90px;
        height: 36px;
        line-height: 36px;
        padding-left: 10px;
        background: url("../images/2x/baseline_search_white_18dp.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 55px;
    }
    #search:hover {
        background-color: orange;
        background-image: url("../images/2x/baseline_search_black_18dp.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 55px;
    }
    #snb {
        /* border: 2px solid blue; */
        width: 170px;
        height: 110px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    #snb ul {
        /* border: 2px solid black; */
        display: none;
    }
}
/*  가로 태블릿 버전 & 노트북 */
@media screen and (min-width: 1024px) { 
    #snb {
        width: 480px;
    }
    #snb ul {
        border-right: 1px solid #aaa;
        padding: 3px 10px;
        margin-right: 10px;
        display: block;
    }
}
/*  데스트탑 */
@media screen and (min-width: 1440px) { 
    
}
