/* section0-------------------------------
------------------ */

#section0{
    border: 5px solid pink;
   /* height: 470px; */
    padding:0;
    height: 700px;
    /* overflow: hidden; */
    box-sizing: border-box;
}


#section0 video{
    /* border: 5px solid red; */
    width: 100%;
    box-sizing: border-box;

    margin-top: 150px;
} 










 






/* section1-------------------------------
------------------ */



#section1{
    /* border: 5px solid blue; */
    padding-top:0;
    /* background-color: aqua; */
    /* background-image: url("../img/bg_intro.png"); */
    background-repeat: no-repeat;
    margin-top: -120px; 
    /* margin-bottom: 100px;  */
    position: relative;
    z-index: 1;
}

#section1 strong{
    margin-top: 18px;
    font-size: 42px;
}


#section1 h3{
    border: 3px solid red;
    box-sizing: border-box;
    /* position: absolute; */
    /* background-position-x: 66px; */
    background-image: url("../img/ai_vision.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    max-width:848px;
    margin: 0 auto;
    height: 234px;
    position: relative;
    top: -60px;
}



#section1_txt{
    text-align: center;
    
}









/* section_schedule */
#section2:before {
    content:"";
    display:block;
    height:140px;
    background:url("../img/bg_schedule.png") 50% 0 no-repeat;
}
#section2 .inner {
    padding-top:12px;
    padding-bottom:17px;
    background:url("../img/bg_black.png") repeat;
}


#section2 li {
    border: 2px solid orange;
    /* display: block; */
    float: left;
    width:168px;
    height:264px;
    background-position-y:-350px; 
}

#section2 li:nth-child(1) {
    border: 1px solid red;
   

}
#section2 li:nth-child(2) {
    /* border: 1px solid yellow; */
    background-position-y:calc(-350px + -264px); 

}
#section2 li:nth-child(3) {
    /* border: 1px solid green; */
    background-position-y:calc(-350px + (-264px*2)); 
}
#section2 li:nth-child(4) {
    /* border: 1px solid blue; */
    background-position-y:calc(-350px + (-264px*3)); 
}
#section2 li:nth-child(5) {
    /* border: 1px solid violet; */
    background-position-y:calc(-350px + (-264px*4)); 

}
#section2 li:nth-child(6) {
    /* border: 1px solid palevioletred; */
    background-position-x: -170px;
}




#section4{
    background:url("../img/bg_green.png");
}





@media screen and (max-width: 1200px){
 
    #section1 h3{
        height: 200px;
        top:-10px;
    }
    #section0{
        height:760px;
        padding-top:80px;
    }
    #section0 video{
       margin-top: 0px;
    } 
}




    /* ipad */
@media screen and (max-width: 768px){
    #section0{
        height:550px;
    }
    #section1 h3{
        height: 160px;
        top:50px;
    }
   
}


    /* iphon6 */
@media screen and (max-width: 414px){
    #section0{
        height:350px;
    }
    #section1 h3{
        height: 100px;
        top: 70px;
    }

}



    /* iphon5 */
@media screen and (max-width: 320px){
    #section0{
        /* height:100% */
    }
    #section1 h3{
        height: 200px;
    }
   
}