header {
    /* border: 5px solid red; */
    top:0;
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding: 40px 30px 0px 30px;
    /* box-sizing: border-box; */
    position: fixed;
    width: 100%;
    border-bottom: 0.12px solid #ccc;
    z-index: 100;
}

header h1, h2 {
    /* border: 3px solid black; */
    float: left;
}  

header h1 a {
    /* border: 3px solid red; */
    display: inline-block;
    width: 67px;
    
}

header h2 a {
    /* border: 3px solid red; */
    display: inline-block;
    width: 175px;
    background-position-x: -66px;
}

header #gnb {
    /* border: 1px solid blue; */
    float: right;
    /* margin-top: 20px; */
    position: relative;
}

header #gnb li {
    /* border: 1px solid blue; */
    display: inline-block;
    margin-left: 30px;
}
header #gnb li a:hover {
    color: #009070
}
/* header #gnb li:first-child a {
    color: #009070;
} */

#gnb .mobile {
    display: none;
}

header #gnb li:first-child {
    margin-left: 0;
}

header #gnb #greenBar {
    border-bottom: 6px solid #009070;
    position: absolute;
    top: 43px;
    /* left: 0;   css말고 script에서 잡아주겠어*/
    /* width: 39px; */
}

@media screen and (max-width: 1000px) {
    header {
        text-align: center;
    }
    header #gnb li {
        /* border: 1px solid black; */
        font-size: 16px;
        margin-left: 16px;
    }
    header #gnb li:nth-of-type(2) {
        margin-left: 0;
    }
    #gnb li:first-child, #gnb li:last-child {
        display: none;
    }
    #gnb .mobile {
        display: inline-block;
    }
    h1 {
        /* border: 1px solid red; */
        margin-left: 20px;
    }
    /* triger 메뉴 start ------------------------------------------------------------------ */
    #triger {
        cursor: pointer;
        /* border: 2px solid blue; */
        width: 40px;
        height: 34px;
        position: relative;
        float: left;
        margin-left: 0px;
        margin-top: -8px;
    }
    #triger:hover span {
        background-color: #009070;
    }
    /*
    #triger:hover span:nth-of-type(1) {
        transform: translateY(15px) rotate(45deg);      
    }
    #triger:hover span:nth-of-type(2) {
        opacity: 0;    
    }
    #triger:hover span:nth-of-type(3) {
        transform: translateY(-15px) rotate(-45deg);      
    }
    */
    #triger span {
        /* border: 1px solid red; */
        display: block;
        height: 4px;
        border-radius: 2px;
        background-color: #333;
        /* margin-bottom: 20px; */
        position: absolute;
        width: 100%;
        transition: all 0.3s;
        /* top: 0;
    left: 0; */
    }
    #triger span:nth-of-type(1) {
        top: 0;
        /* transform: rotate(45deg); */
    } 
    #triger span:nth-of-type(2) {
        top: 15px;
    }
    #triger span:nth-of-type(3) {
        top: 30px;
    }
    /* triger 메뉴 end ------------------------------------------------------------------ */

    /* 모바일 메뉴 start ------------------------------------------------------------------ */
    #m_gnb_close {
        display: none;
        position: fixed;
        top: 25px;
        right: 85px;
        margin-right: -17px;
        z-index: 99;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 40px;
        /* border: 1px solid yellow; */
        cursor: pointer;
    }
    #mobile_gnb {
        display: none;
        background-color: black;
        position: fixed;
        top: 0;
        right: 0;
        width: 170px;
        height: 100%;
        padding: 90px 0 30px 0;
        box-sizing: border-box;
    }
    #mobile_gnb li {
        /* padding: 20px 0; */
    }
    #mobile_gnb a {
        /* border: 2px solid red; */
        border-top: 1px solid #555;
        color: white;
        display: block;
        width: 100%;
        padding: 15px 0;
    }
    #mobile_gnb li:last-child a {
        border-bottom: 1px solid #555;
    }
    #mobile_gnb a:hover {
        color: black;
        background-color: #aaa;
    }
    /* 모바일 메뉴 end ------------------------------------------------------------------ */
}

@media screen and (max-width: 880px) {
    #gnb li:nth-of-type(2), #gnb li:nth-of-type(3) {
        display: none;
    }
    #gnb li:nth-of-type(4) {
        margin-left: 0;
    }
}
@media screen and (max-width: 768px) {
    header {
        /* border: 2px solid red; */
        padding: 20px 0;
        height: 130px;
    }
    h1 {
        /* border: 1px solid red; */
        margin-left: 0px;
        font-size: 26px;
    }
    h1, h2 {
        float: none !important;
        /* border: 2px solid red; */
        display: inline-block;
    }
    #gnb li:nth-of-type(2), #gnb li:nth-of-type(3) {
        display: inline-block;
    }
    #gnb li:nth-of-type(4) {
        margin-left: 16px;
    }
    #triger {
        /* border: 3px solid red; */
        margin-left: 15px;
    }
    header #gnb {
        /* border: 2px solid red;    */
        border-top: 2px solid #eee;
        float: none !important;
        padding: 20px;
    }
}

@media screen and (max-width: 370px) {
    h1 {
        display: none;
    }
    #triger {
        margin-left: 15px;
    }
    header #gnb li:nth-of-type(3) {
        display: none;
    }
    #mobile_gnb {
        font-size: 14px;
        padding-top: 60px;
    }
    #m_gnb_close {
        /* border: 2px solid yellow; */
        font-size: 35px;
        top: 15px;
    }
}