#section0 {
    /* border: 5px solid red; */
    padding: 0;
    height: 600px;
    overflow: hidden;
    box-sizing: border-box;
}
#section0 video {
    margin-top: -150px;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    width: 100%;
    min-width: 700px;
}
#section1 {
    /* border: 5px solid blue; */
    padding-top: 0;
    /* background-color: orange; */
    background-image: url("../img/bg_intro.png");
    background-repeat: no-repeat;
    /* background-position-y: 45px; */
    margin-top: -120px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}
#section1 h3 {
    /* border: 3px solid red; */
    box-sizing: border-box;
    background-image: url("../img/AIVision.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    width: 80%;
    max-width: 848px;
    margin: 0 auto;
    height: 234px;
    position: relative;
    top: -60px;
}
#section1 p {
    margin-top: 0;
}
#section1 strong {
    /* border: 3px solid red; */
    display: inline-block;
    margin-top: 10px;
    font-size: 42px;
    color: #222;
    /* margin-bottom: 30px; */
}
#section2 {
    background-image: url("../img/bg2.jpg");
    position: relative;
}
#section2::before {
    content: "";
    /* border: 5px solid red; */
    background-image: url("../img/okay.png");
    background-size: contain;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -130px;
    right: 200px;
}
#section2::after {
    /* border: 5px solid blue; */
    background-image: url("../img/bg_schedule.png");
    /* background-size: contain;
    background-repeat: no-repeat; */
    content: "";
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: 120px;
}
#section2 h3 {
    color: white;
}
#section2 ol {
    /* border: 1px solid red; */
    /* margin-bottom: 30px; */
    height: 264px;
}

#section2 li {
    /* border: 1px solid yellow; */
    width: 168px;
    height: 264px;
    float: left;
    /* display: inline-block; */
    /* background-position-y: -350px; */
    background-repeat: no-repeat;
    background-position-x: center;
    /* 1200 168*6=1008  1200-1008=192  192/5=38.4 */
    margin-right: 38.4px;
    box-sizing: border-box;
    /* padding-top: 169px; */
    display: table;
}
.schedule_box {
    /* border: 3px solid pink; */
    display: table-cell;
    vertical-align: middle;
    height: 84px;
    padding-top: 156px;
}
#section2 li:nth-child(1) {
   background-image: url("../img/li_1.png");
}
#section2 li:nth-child(2) {
    background-image: url("../img/li_2.png");
    /* background-position-y: -614px; */
    /* background-position-y: calc(-350px + -264px * 1); */
}
#section2 li:nth-child(3) {
    background-image: url("../img/li_3.png");
    /* background-position-y: -614px; */
    /* background-position-y: calc(-350px + (-264px * 2)); */
}
#section2 li:nth-child(4) {
    background-image: url("../img/li_4.png");
    /* background-position-y: -614px; */
    /* background-position-y: calc(-350px + (-264px * 3)); */
}
#section2 li:nth-child(5) {
    background-image: url("../img/li_5.png");
    /* background-position-y: -614px; */
    /* background-position-y: calc(-350px + (-264px * 4)); */
}
#section2 li:nth-child(6) {
    background-image: url("../img/li_6.png");
    /* background-position-x: -170px; */
    margin-right: 0;
}
#section2 .description {
    clear: left;
}
#section2 mark {
    font-size: 26px;
}
#section2 strong {
    display: block;
    color: white;
    font-weight: 300;
    margin-top: 6px;
}
#section2 p:nth-of-type(2) {
    color: #ccc;
    margin-top: 5px;
}

#mentor::before{
    content: "";
    border: 2px solid red;
    display: block;
    height: 200px;
    width:100%;
    margin-top: -70px;
    background: url("https://m-campaign.naver.com/aihackathon2018/im/bg_section_mento.jpg") no-repeat;
    background-size: contain;
   
}
#mentor{
    /* border: 2px solid red; */
    padding-right: 0;
    padding-left: 0;
    /* margin-left: 0; */
    background-color: #f0f0f0;
}
#mentor ul {
    height: 200px;
}
#mentor li {
    float: left;
    margin-right: 75px;
    width: 175px;
    background-position-x: center;
}
#mentor li:last-child{
    margin-right: 0;
}
#mentor dt {
    border: 2px solid pink;
    font-size: 0;
}
#mentor dl::before{
    content:"";
    /* border: 1px solid red; */
    display: block;
    height: 180px;
    border-radius:90px;
    background-color: thistle;
}

#mentor li:nth-of-type(1) dl::before{
    background-image: url("../img/lee.png");
}
#mentor li:nth-of-type(2) dl::before{
    background-image: url("../img/lee2.png");
}
#mentor li:nth-of-type(3) dl::before{
    background-image: url("../img/lee.png");
}
#mentor li:nth-of-type(4) dl::before{
    background-image: url("../img/lee2.png");
}
#mentor li:nth-of-type(5) dl::before{
    background-image: url("../img/lee.png");
}

#mentor dd:nth-of-type(1){
    font-weight:400;
    color:#009070;
}
#mentor dd:nth-of-type(2){
    font-size:13px;
    columns: #333333;;
}

#section4 img{ 
    /* display: block; */
}

#section4 {

}
#section4 {
    /* background-color: teal; */
    background-image: url("../img/bg1.jpg");
}
@media screen and (max-width: 1200px){
    #section2::before {
        /* border: 5px solid blue; */
        top: -170px;
        right: 20px;
    }
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
    #section0 {
        /* border: 5px solid blue; */
        height: 500px;
    }
    #section0 video {
        margin-top: 0px;
    }
    #section1 h3 {
        /* border: 3px solid blue; */
        height: 200px;
        top: -10px;
    }
    #section1 p:nth-of-type(1) {
        text-align: center;
    }
    #section1 p {
        margin-top: 20px;
        text-align: left;
    }
    #section2 .inner {
        /* border: 3px solid blue; */
    }
    #section2 li {
        /* border: 2px solid blue; */
        width: 26%;
        margin-right: 5.5%;
        margin-bottom: 20px;
    }
    #section2 li:nth-child(1), #section2 li:nth-child(4)  {
        margin-left: 5.5%;
    }
    #section2 li:nth-child(3), #section2 li:nth-child(6) {
        /* margin-right: 0; */
    }
}
/* iPad 768 */
@media screen and (max-width: 768px){
    
    #section2::before {
        /* border: 5px solid green; */
        top: -190px;
    }
    #section0 {
        /* border: 5px solid green; */
        height: 400px;
    }
    #section1 h3 {
        /* border: 3px solid green; */
        height: 130px;
        top: 50px;
    }
    #section1 p {
        margin-top: 40px;
    }
    #section2 {
        
    }
    #section2 ol {
        /* border: 10px solid green; */
        height: 880px;
    }
    #section2 li {
        float: none;
        margin-left: 0;
        margin-right: 0;
        height: 141px;
        width: 100%;
        display: block;
        /* background-size: cover; */
        margin-bottom: 0;
    }
    .schedule_box {
        padding-top: 0;
    }
    #section2 li:nth-child(1), #section2 li:nth-child(4)  {
        margin-left: 0;
    }
    #section2 li:nth-child(1) {
        background-image: url("../img/sp_all_v4_m.png");
        /* background-position-y: -88px; */
        background-position-y: calc(-88px + -141px * 0);
    }
    #section2 li:nth-child(2) {
        background-image: url("../img/sp_all_v4_m.png");
        /* -89 + -141 */
        /* background-position-y: -229px; */
        background-position-y: calc(-88px + -141px * 1);
    }
    #section2 li:nth-child(3) {
        background-image: url("../img/sp_all_v4_m.png");
        background-position-y: calc(-88px + -141px * 2);
    }
    #section2 li:nth-child(4) {
        background-image: url("../img/sp_all_v4_m.png");
        background-position-y: calc(-88px + -141px * 3);
    }
    #section2 li:nth-child(5) {
        background-image: url("../img/sp_all_v4_m.png");
        background-position-y: calc(-88px + -141px * 4);
    }
    #section2 li:nth-child(6) {
        background-image: url("../img/sp_all_v4_m.png");
        background-position-y: calc(-88px + -141px * 5);
    }
}
/* iPhone Plus */
@media screen and (max-width: 414px){
    #section2::before {
        /* border: 5px solid yellow; */
        top: -190px;
    }

    #section1 h3 {
        /* border: 3px solid yellow; */
        height: 100px;
        top: 70px;
    }
    #section1 p {
        margin-top: 80px;
    }
}