html, body, header, nav, ul, li, div, p, span, section, i, a, strong, span,h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

body{
    color: rgb(58, 58, 58);
}

ul, li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;

}
.mobile {
    display: none;
}
/* 
.c{
    position: absolute;
    margin: 0 auto;
    width: 1200px;
    height:1800px;
    background-color: rgb(223, 50, 50);
} */
.inner {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    padding: 0 30px 0 30px;
    background-color: rgb(243, 243, 243);
    border:1px solid rgba(50, 160, 123, 0)
}

h3{
    font-size: 40px;
    font-weight: bold;
}

header h1 img {
    
    margin-top: 100px;
    /* border: 1px solid red; */
    float: left;
    /* background: center / contain no-repeat url("img/logo.jpg"); */
    width: 450px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

header ul {
    margin-top: 180px;
    font-size: 18px;
    /* border: 10px solid green; */
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

header ul.desktop li {
    display: inline-block;
    /* border: 1px solid blue; */
}












.mainimg {
    margin-top: 100px;
    /* border: 1px solid blue; */
    background: center / contain no-repeat url("../img/main3.png");
    width: 100%;
    height: 500px;
    padding: 0 !important;
}













 
.txt{
    margin-top: 100px;    
    /* border:1px solid red; */
    background:url("../img/5.PNG");
    /* background-attachment: fixed; */
    width:100%;
    height: 350px;
    text-align: left;
    
}

.txt strong{   
    padding-top: 45px; 
    padding-left: 250px; 
    display: block;
    font-size: 20px; 
}

.txt span{
    display: block;
    font-size: 13px;
    padding-top: 15px; 
    padding-left: 250px; 
}







.longimg1{
    margin-top: 100px; 
    padding-top: 70px;
    background:  url("../img/5.png");
    background-attachment: fixed;
    width:100%;
    height: 150px;
    text-align: center;
    font-size: 30px;
}

.longimg1 span{
    font-size: 15px;
    letter-spacing: 0.02em;

}

.longimg1 h4{
    margin-top:-10px;
    font-size: 40px;
}



.about p{
    letter-spacing: 0.03em;
    padding: 80px 0 0 250px;
    width:100%;
    text-align: left;
    font-size: 20px;
}

 .about ul{
  
    padding: 40px 0 0 250px;
    width:100%;
    text-align: left;
    font-size: 20px;
 }


 






.gallery>.inner{
    /* border: 1px solid red; */
}
 .longimg2{
    margin-top: 100px; 
    padding-top: 60px;
    background:  url("../img/5.png");
    background-attachment: fixed;
    width:100%;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.longimg2 h4{
    font-size: 40px;
    margin-bottom: -10px;
}
.longimg2 span{
    /* border: 1px solid red; */
    font-size: 15px;
    letter-spacing: 0.02em;
}


.photos{
    /* border: 10px solid red; */
    margin-top: 30px;
}

.photos1{
    /* border: 10px solid rgb(0, 140, 255); */
}

div.photos {
    /* border: 10px solid red; */
    width: 100%;
    height: 220px;
    display: block;
    
}

a.photo {
    /* border: 5px solid green; */
    float: left;
    width: 25%;
    display: block;
    
}

a.photo img {
    /* border: 1px solid blue; */

    display: block;
    width: 100%;
    height: auto;
}








section.contact {
    text-align: center;
    font-size: 30px;
}
 
section.contact h3{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}

.contact>.inner>a{
    display: block;
    /* border: 1px solid red; */
    margin: 50px 0 30px 0;
    font-size: 16px;
}


/* .contact .inner>a{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
} */

.contact .sns{
    /* border: 1px solid red; */
}

.contact .sns i{
    text-align: center;
    margin: 50px 0 100px 0;
    font-size: 50px;;
}

.contact .sns i:first-child{
    margin-right: 20px;
    /* border: 1px solid red; */
}

.contact .sns i:first-child{
    margin-left: 20px;
    /* border: 1px solid red; */
}

.contact iframe{
    margin-bottom: 50px;
}




footer{
    margin: 50px auto 100px auto;
    width: 1000px;
    text-align: center;
    background-color: rgb(206, 206, 206);
    position: relative;
    padding: 0 30px 0 30px;
    border:1px solid rgba(255, 0, 0, 0)
}
