@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900|Noto+Serif+KR:400,500,700|Roboto:400,500,900&display=swap');
/* clear */

body, section, h1, h2, h3, h4, h5, h6, p, ul, li, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #222222;
}

section {
    /* padding-top: 70px;
    padding-bottom: 60px; */
    border: 2px solid red;
    padding: 70px;
}

h1 {
    font-size: 30px;
    /* margin-top: 70px; */
    /* margin-bottom: 36px; */
}

h2 {
    font-size: 30px;
    /* margin-top: 70px; */
    /* margin-bottom: 36px; */
}

h3 {
    font-size: 54px;
    /* margin-top: 70px; */
    /* margin-bottom: 36px; */
}

a {
    text-decoration: none;
    color: #111111;
    cursor: pointer;
}

a:hover {
    color: #009070;
}

li {
    list-style: none;
}

em {
    font-style: normal;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

.NotoSerif {
    font-family: 'Noto Serif KR', serif;
}

.btn {
    color: #333333;
    display: inline-block;
    font-size: 28px;
    text-align: center;
    padding: 20px;
    /* margin-bottom: 60px; */
    /* clear: both; 인라인 속성은 clear 가 안됨 */
}

.btn:hover {
    color: #fff;
    background-color: #333333;
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); */
}

.btn1 {
    background-color: none;
}

.btn1:hover {
    background-color: rgb(150, 145, 145);
    color: #000;
}

.btn2 {
    background-color: 009070;
}

.btn2:hover {
    background-color: #5fa8fc;
    color: #fff;
}

.btn3 {
    border-radius: 16px;
    background-color: white;
}

.inner {
    /* border: 5px solid yellow; */
    max-width: 1200px;
    /* padding: 0 30px; */
    /* width: 1200px; */
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}

.blind {
    font-size: 0;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
    /* border: 5px solid yellow; */
}

.float_clear {
    clear: both;
}

.text_green {
    color: #2ebc76;
}

.text_gray {
    color: #999999;
}

/* re */

.mobile {
    display: none;
}

.mobile_t {
    display: none;
}

#desktopMenu .mobile {
    display: none;
}

@media screen and (max-width:1080px) {
    .inner {
        max-width: 100%;
        padding: 0 30px;
    }
    .mobile_t {
        display: block;
    }
}

@media screen and (max-width:768px) {
    .inner {
        max-width: 100%;
        padding: 0 30px;
    }
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block;
    }
    #desktopMenu .mobile {
        display: inline-block;
    }
    h3 {
        font-size: 20px;
    }
}

@media screen and (max-width:320px) {
    .inner {
       
        max-width: 200%;
        padding: 0 10px;
    }
}