h2 {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 220px;
    left: 40px;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.7)
}
.mobile_inline {
    display: none;
}
.t_black {
    color: black;
}
.t_white {
    color: white;
}
.t_333 {
    color: #333;
}
.t_shadow_white {
    text-shadow: 0 0 8px rgba(255,255,255,0.3);
}
.t_sub_text {
    font-size: 17px;
}
.back_black {
    background-color: black;
}
.t_normal {
    font-weight: normal;
}
.display_inline_block {
    display: inline-block;
}
.margin_b_5 {
    margin-bottom: 3px;
}
#about_logo {
    /* border: 5px solid green; */
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 1000;
}
.back {
    /* border: 5px solid red; */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    position: absolute;
    top: 0;
    left: 0;
}
#back0 {
    /* background-color: red !important; */
    background-image: url("../img/main.jpg");
    filter: blur(6px);
}
#back1 {
    /* background-color: red !important; */
    background-image: url("../img/main.jpg");
    transform: rotate(180deg);
    filter: grayscale(100%);
}
#about_logo .mark_job {
    /* border: 2px solid red; */
    display: inline-block;
    padding: 2px 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    /* background-color: #333; */
}
#section0 {
    /* position: relative; */
}
#about_me {
    /* border: 5px solid red; */
    width: 100%;
    position: absolute;
    bottom: 100px;
}
#about_me p {
    color: white;
    width: 380px;
    background-color: rgba(0,0,0,0.7);
    font-size: 17px;
    margin: 0 auto;
    padding: 30px;
}
#mouse_over {
    background-color: transparent;
    border: none;
    font-size: 16px;
    animation-name: textLight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes textLight {
    0% {
        color: #aaa;
    }
    100% {
        color: yellow;
        text-shadow: 0 0 8px rgba(255,255,255,1);
    }
}
@media screen and (max-width: 900px){
    .mobile_inline {
        display: inline-block;
    }
    .desktop {
        display: none;
    }
    #openBtn {
        /* border: 2px solid blue; */
        font-size: 50px;
        cursor: pointer;
        float: left;
        margin-left: 15px;
    }
    #closeBtn {
        /* border: 2px solid yellow; */
        font-size: 60px;
        color: white;
        position: absolute;
        top: 20px;
        right: 45px;
    }
    h1 {
        /* border: 2px solid red; */
        font-size: 35px;
        margin-top: 13px;
    }
    h2 {
        top: 80px;
        left: 15px;
    }
    #about_logo {
        width: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
    }
    #menu {
        /* border: 3px solid blue; */
        background-color: rgba(0,0,0,0.7);
        width: 0;
        height: 100%;
        text-align: center;
        padding: 0;
        z-index: 1001;
        overflow: hidden;
        transition: 0.5s;
    }
    #menu li {
        /* border: 2px solid yellow; */
        border-bottom: 2px solid #333;
        display: block;
        padding: 20px 0;
        margin: 0;
        font-size: 36px;
    }
    #menu li:nth-of-type(1) {
        margin-top: 100px;
    }
    #menu li a {
        color: white;
    }
    #menu li a:hover{
        color: yellow;
    }
    #menu li.active a {
        color: yellow;
        background-color: transparent;
    }
    #menu li.active a:hover{
        color: yellow;
    }
    #back0 {
        filter: none;
    }
}