h1 {
    /* border: 2px solid black; */
    /* background-repeat: no-repeat; */
}
h1 a {
    display: inline-block;
    /* border: 2px solid red; */
    width: 117px;
    height: 45px;
    background-image: url("../img/logo.png");
}
h1 a:hover {
    background-image: url("../img/logo_black.png");
}
nav {
    /* border: 3px solid black; */
    /* background-color: gray; */
    height: 60px;
    padding-top: 30px;
    margin-bottom: 120px;
}
nav ul {
    /* border: 3px solid red; */
    /* float: right; */
}
nav li {
    /* border: 2px solid black; */
    display: inline-block;
    font-size: 15px;
    margin-left: 40px;
}
#gnb {
    position: relative;
}
