<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout_001</title>
    <style>
    body{
        margin: 0;
        border: 20px solid palegreen;
        width:100%;
        box-sizing: border-box;
        }
    p{
        margin: 0;
        border: 10px solid powderblue;
        padding: 30px;
        text-align: center;
        font-size: 30px;
        color: rgb(45, 136, 106);
        width: 25%; 
        box-sizing: border-box;
        display:inline-block;
    }
    </style>
</head>
<body>
    <p>1가나다</p><p>2가나다</p><p>333333</p><p>4</p>
    <!-- p사이공백없애기 화면에 방영됨 
        작게하면 글자가 모여서 길어지고 넓게하면 한줄에 다들어가
    이건 텍스트랩이라는 css로 조정할수 있어 -->
</body>
</html>