body {
    height: 3000px;
    font-family: 'Noto Sans KR', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, hr, ul, dl, ol, p {
    margin: 0;
    padding: 0;
} 
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #f37321 !important;
}
.blind {
    border: 5px solid red;
    font-size: 0;
    position: absolute;
    left: -9999px;
}
.center {
    text-align: center;
}
#gnb>li {
    /* border: 2px solid yellow; */
    /* position: relative; */
}
.subMenu {
    display: none;
    /* display: block; */
    /* border: 1px solid red; */
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    white-space: nowrap;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #2b384a; 
}
#submenu1 {
    padding-left: 360px;
}
#submenu2 {
    padding-left: 456px;
}
#submenu3 {
    padding-left: 553px;
}
#submenu4 {
    padding-left: 650px;
}
.sub {
    display: none;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.ico {
    background-image: url("../img/ico.png");
}
.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.wrap {
    /* border: 3px solid red; */
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    /* border: 5px solid green; */
    height: 100px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100000004;
}
header nav {
    background-color: rgba(0,0,0,0.5);
    padding: 30px 60px;
    height: 100px;
    position: relative;
}
header nav h1 {
    /* border: 1px solid yellow; */
    margin-right: 40px;
}
/* header nav:hover {
    background-color: white;
} */
header nav h1 a {
    display: inline-block;
    width: 168px;
    height: 48px;
}
header nav #allMenu {
    /* border: 2px solid yellow; */
    width: 50px;
    height: 24px;
    background-position-x: -650px;
    margin-top: 12px;
    margin-right: 40px;
}
header nav #allMenu:hover {
    background-position-y: -25px !important;
}
header nav #gnb {
    /* border: 2px solid blue; */
    margin-top: 10px;
}
header nav #gnb li {
    /* border: 1px solid yellow; */
    display: inline-block;
    font-size: 17px;
    margin-right: 20px;
}
.gnbMenu {
    /* border: 2px solid red;    */
    box-sizing: border-box;
    height: 60px;
}
.gnbMenu>a {
    /* border: 1px solid red; */
    display: inline-block;
    height: 60px;
    padding: 0 5px;
    box-sizing: border-box;
}
.gnbMenu:hover {
    border-bottom: 3px solid #f37321;
}


header nav #quick {
    /* border: 1px solid blue; */
}
header nav #quick #kor {
    width: 33px;
    height: 23px;
    background-position-x: -273px;
    /* border: 1px solid yellow; */
    position: relative;
    top: 5px;
    margin-right: 20px;
}
header nav #quick #kor:hover {
    background-position-y: -25px !important;
}
header nav #quick #search {
    color: white;
    width: 140px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 20px;
    text-align: left;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
}
header nav #quick #search:hover {
    background-color: #f37321;
    border: none;
    color: white !important;
}
header nav #quick #search:hover span {
    background-position-y: 0px !important;
}
header nav #quick #search span {
    /* border: 1px solid yellow; */
    display: inline-block;
    width: 19px;
    height: 22px;
    background-image: url("../img/ico.png");
    background-position-x: -243px;
    position: absolute;
    /* top:9px; */
    right: 15px;
}
header nav #quick a {
    font-size: 15px;
    position: relative;
}
header nav #quick #quick1 {
    margin-right: 60px;
}
header nav #quick a:hover span {
    background-position-y: -25px !important;
}

header nav #quick #quick1 span {
    /* border: 2px solid yellow; */
    display: inline-block;
    width: 27px;
    height: 23px;
    position: absolute;
    top: -2px;
    left: -35px;
    background-image: url("../img/ico.png");
    background-position-x: -183px;
}
header nav #quick #quick2 {
    margin-right: 20px;
}
header nav #quick #quick2 span {
    /* border: 2px solid yellow; */
    display: inline-block;
    width: 24px;
    height: 22px;
    position: absolute;
    top: -2px;
    left: -32px;
    background-image: url("../img/ico.png");
    background-position-x: -213px;
}
#pageTop {
    /* border: 1px solid red; */
    width: 35px;
    height: 37px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    position: fixed;
    bottom: -50px;
    right: 50px;
    /* visibility: hidden; */
    transition: 0.5s;
    /* outline: none; */
}
#pageTop:hover img {
    margin-top: -40px;
}
h2 {
    margin: 80px 0px 7px 0px;
    font-size: 40px;
}
h2::after {
    content: ".";
    color: #f37321;

}
.content_text1 {
    font-size: 18px;
    color: #888;
}
.stock {
    margin: 30px 0px 30px 0;
    
}
.stock strong {
    font-size: 25px;
}
.stock .down {
    /* border: 1px solid red; */
    margin: 0 10px;
    color: blue;
}
.stock .date {
    font-size: 15px;
    color: #888;
}
@media screen and (max-width: 1440px){
    nav {
        /* border: 5px solid red; */
    }
    #quick1 {
        display: none;
    }
}
@media screen and (max-width: 1200px){
    #quick2 {
        display: none;
    }
}
@media screen and (max-width: 1150px){
    #kor {
        display: none;
    }
    #search {
        display: none;
    }
}
@media screen and (max-width: 900px){
    header {
        /* border: 2px solid red; */
        /* height: 40px; */
    }
    nav {
        /* border: 2px solid blue; */
        /* padding: 10px 30px !important; */
        height: 70px !important;
        padding: 0;
    }
    .desk {
        display: none;
    }
    #allMenu {
        /* border: 2px solid yellow; */
        margin-right: 0 !important;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    h1 {
        /* border: 3px solid red; */
        position: absolute;
        top: 13px;
        left: 20px;
        /* left: 50%;
        margin-left: -84px; */
    }
}
@media screen and (max-width: 768px){
    nav {
        /* border: 5px solid greenyellow; */
    }
    h2 {
        margin: 40px 0px 7px 0px;
        font-size: 30px;
    }
}
@media screen and (max-width: 414px){
    nav {
        /* border: 5px solid pink; */
    }
}
@media screen and (max-width: 320px){
    nav {
        /* border: 5px solid violet; */
    }
}