.slideMenu {
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 200px;
    font-size: 13px;
    box-sizing: border-box;
    position: relative;
    top: 300px;
    /* right: -300px; */
    z-index: 100000003;
    padding: 15px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border 0.5s;
}

/* .slideMenu:hover {
    border: 1px solid #f37321;
    border-left: 15px solid #f37321;
} */

@media screen and (max-width: 1440px) {
    .slideMenu {
        top: 220px;
    }
}

@media screen and (max-width: 1200px) {
    .slideMenu {
        top: 180px;
    }
}

@media screen and (max-width: 900px) {
    .slideMenu {
        width: 50px !important;
    }
    .slideList {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .slideMenu {
        /* position: absolute; */
        display: inline-block;
        left: 0;
        top: 90%;
        margin: 0 10px;
        width: 25px !important;
        height: 25px !important;;
        font-size: 13px;
        padding: 3px;
    }
    #picSet {
        text-align: center;
    }
    .slideMenu:hover {
        border: none !important;
    }
}