#section1 {
    /* border: 5px solid yellow; */
}
#totalSet {
    /* border: 3px solid red; */
    box-sizing: border-box;
    /* width: 900px;
    height: 800px; */
    position: relative;
}

#picSet {
    /* white-space: nowrap; */
    /* border: 6px solid yellow; */
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

.pic {
    /* border: 3px solid yellow; */
    box-sizing: border-box;
    /* width: 900px;
    height: 800px; */
    position: absolute;
    top: 0;
    left: 0;
    /* overflow: hidden; */
    /* transition: width 0.5s; */
}

.pic img {
    display: block;
}


