html, body, header, nav, ul, li, div, p, span, section, i, a, strong, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

.mobile {
    display: none;
}

/* .c{
    margin: 0 auto;
    width: 1200px;
    height:1800px;
    background-color: rgb(223, 50, 50);
} */
.inner {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    /* background-color: rgb(207, 207, 207); */
}

header h1 img {
    /* border: 1px solid red; */
    float: left;
    /* background: center / contain no-repeat url("img/logo.jpg"); */
    width: 450px;
    height: auto;
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
}

header ul {
    font-size: 20px;
    color: grey;
    margin-top: 180px;
    /* border: 10px solid green; */
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

header ul.desktop li {
    display: inline-block;
    /* border: 1px solid blue; */
}












.mainimg {
    margin-top: 100px;
    /* border: 1px solid blue; */
    background: center / contain no-repeat url("../img/3.png");
    width: 100%;
    height: 420px;
}














.txt{
    margin-top: 100px;   
    /* background:url("../img/5.jpg"); */
    background-attachment: fixed;
    width:100%;
    height: 200px;
    text-align: center;
    
}

.txt strong{
    display: block;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.txt span{
    display: block;
    font-size: 20px;
    padding: 0;
    margin: 0;
}







.longimg{
    margin-top: 100px; 
    padding-top: 70px;
    background:  url("../img/5.jpg");
    background-attachment: fixed;
    width:100%;
    height: 150px;
    text-align: center;
    font-size: 30px;
}


.about p{
   padding: 30px;
    width:100%;
    text-align: left;
    font-size: 20px;
}

.about ul strong{
    
     width:100%;
     text-align: left;
     font-size: 20px;
 }
 .about ul{
    padding-left: 30px;
    width:100%;
     text-align: left;
     font-size: 20px;
 }











.photos{
margin-top: 30px;
}



section.contact{
    margin-top: 450px;
}




footer{
    margin-top: 100px;
}





div.photos {
    width: 100%;
    height: auto;
}

div.photo {
    float: left;
    width: 25%;
}

div.photo img {
    width: 100%;
    height: auto;
}

.photo::after {
    content: "";
    background: rgba(243, 115, 32, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 97%;
    display: none;
    box-sizing: border-box;
}