<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>지도 만들기</h1>
    <h2>구글 지도</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.2798584818665!2d126.89382781551936!3d37.52489973426892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9eee8c1109f1%3A0xbdb655204c91e6cc!2z7JiB65Ox7Y-s6rWs7LKt7Jet!5e0!3m2!1sko!2skr!4v1572570582657!5m2!1sko!2skr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    <h2>카카오맵</h2>
    <a href="https://map.kakao.com/?urlX=477162&urlY=1118431&urlLevel=5&map_type=TYPE_MAP&map_hybrid=false" target="_blank"><img width="504" height="310" src="https://map2.daum.net/map/mapservice?FORMAT=PNG&SCALE=10&MX=477162&MY=1118431&S=0&IW=504&IH=310&LANG=0&COORDSTM=WCONGNAMUL&logo=kakao_logo" style="border:1px solid #ccc"></a>

    <h2>네이버지도(구지도)</h2>
    <table cellpadding="0" cellspacing="0" width="462"> <tr> <td style="border:1px solid #cecece;"><a href="https://v4.map.naver.com/?lng=23ba29ea2d91d480b82a8a8a94a225b2&mapMode=0&lat=cc7f9e5cc1883b0e9e038fbaab26716a&dlevel=11&enc=b64&menu=location" target="_blank"><img src="http://prt.map.naver.com/mashupmap/print?key=p1572571220780_1496650719" width="460" height="340" alt="지도 크게 보기" title="지도 크게 보기" border="0" style="vertical-align:top;"/></a></td> </tr> <tr> <td> <table cellpadding="0" cellspacing="0" width="100%"> </table> </td> </tr> </table>
</body>
</html>