<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            border: 2px solid red;
            display: table;
        }
        img {
            width: 100px;
            display: table-cell;
            vertical-align: middle;
        }
        span {
            font-size: 40px;
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div>
        <img src="img/dog.jpg">
        <span>강아지</span>
        <img src="img/dog.jpg">
        <span>강아지</span>
    </div>
</body>
</html>