.bg{
	background-image: url(bg1.jpg);
	
}
#section1::before{
	background-image: url(bg1.jpg);
	content:"";
	/* border: 1px solid red; */
	position: absolute;
	top:0;
	left:0;
	width:100%;
	display:block;
	height:100%;
	transform: rotate(180deg);
	filter:sepia(100%);
}

#section2 {
	background-position-y: bottom; 
}

#menu{
	border: 1px solid red;

text-align: right;
padding: 30px 10px 40px 10px;
background-color: rgba(255, 255, 255, 0.787);
}


#menu li{
border: 1px solid red;
border-radius: 0px !important;	}