@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Roboto&display=swap');
@import "clear.css";
@import "fullpage.css";
@import "header.css";
@import "section0.css";
@import "section1.css";
@import "section2.css";
@import "section3.css";






/* Custom CSS
 * --------------------------------------- */

body {
	font-family: 'Fjalla One', sans-serif;
	color: rgba(0, 0, 0, 0.7);
}

.wrap {
	/* border: 20px solid red;  */
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1em;
}

.intro p {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section {
	text-align: center;
}








/* header
 * --------------------------------------- */



header {
	/* border: 10px solid pink; */

	background-color: #f0fcf0;
	position: fixed;
	top: 0;
	z-index: 70;
	width: 100%;
	padding: 10px 30px;
	box-sizing: border-box;
	position: relative;


	/* m */
	/* padding: 30px; */
}

.navL {
	/* border: 10px solid pink; */
	/* mobile */
	/* display: flex;
	justify-content: center; 
	width: 100%;*/
}


#menu {
	/* m */
	/* display: flex;
	justify-content: center; */

	/* desk */
	top: 25px;
	position: fixed;
	right: 10px;
	height: 40px;
	z-index: 70;
}

#msound{
position: fixed;
bottom: 10px;
z-index: 101;
/* position: relative; */
}

#msound p {
	font-size: 9px;
	margin-top:-3px; 
	text-align: center;
	z-index: 99;
}
#msound p a{

	color: #2828287a;
	text-decoration:none;
}
#msound p :hover{
	color: #28282825;
}

header h1 .logo {
	/* border: 1px solid blue; */
	margin-left: 2px;
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	top:0;
	left:0;
	/* position: absolute; */
}
/* .logo:hover{
	animation-name: why;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	transition: 0.1s ease-in-out;
}
@keyframes why {
	from{}
	to{
		top: 80px; 
	}
} */

.txt {
	/* desk */
	position: absolute;
	top: 15px;
	left: 100px;
	
	padding: 0 0.8em;
	height: 40px;
	z-index: 70;
}

.txt a {
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

.txt a:hover {
	color: #629b8a;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}


#menu li {
	/* border: 1px solid blue; */
	
	height: 35px;
	display: inline-block;
	margin: 10px;
	background: rgba(0, 0, 0, 0.123);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	transition: 0.2s ease-in-out;
}

#menu li.active {
	background: #95cfbe;
	transition: 0.2s ease-in-out;
}

#menu li a {
	/* border: 1px solid yellow; */
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}

#menu li.active a:hover {
	/* color: green; */
}

#menu li:hover {
	background: #95cfbe;
}

#menu li a, #menu li.active a {
	padding: 9px 18px;
	display: block;
}

#menu li.active a {
	/* color: rgb(184, 71, 165); */
}





/* section 2 3 Gallert=y  */

div.photos {
	display: inline-block;
	/* border: 10px solid red; */
	margin: 2em 2em;
	/* width: 95%; */
}

a.photo {
	/* border: 5px solid green; */
	/* m */
	/* width: 50%; */

	/* d */
	width: 25%;

	/* c */
	display: block;
	float: left;
	

}

a.photo img {
	/* border: 1px solid blue; */
	display: block;
	width: 100%;
	height: auto;
}













/* media Q
 * --------------------------------------- */


 @media screen and (max-width:1260px) {
  .desktop{
	  display: block;
  }

  .photos .desktop {
	display: block;
  }
  
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:330px) {
	header{
		border: 10px solid pink;
	}
	.desktop {
		display: none ; 
	  }
	.photos .desktop {
		display: none ; 
	  }

	  a.photo {
		/* border: 5px solid green; */
		width: 50%;
	  }


}